@page "/movies"
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore
@using BlazorWebAppMovies.Models
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorWebAppMoviesContext> DbFactory
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<div>
    @* <form action="/movies" data-enhance data-permanent>
        <input type="search" name="titleFilter"/>
        <input type="submit" value="Search"/>
    </form> *@

    <input type="search" @bind="titleFilter" @bind:event="oninput"/>
</div>

<p>
    <a href="movies/create">Create New</a>
</p>

<div>
    @* <QuickGrid Class="table" Items="context.Movie"> *@
    @* <QuickGrid Class="table" Items="FilteredMovies"> *@
    <QuickGrid Class="table" Items="FilteredMovies" Pagination="pagination">
        @* <PropertyColumn Property="movie => movie.Title" /> *@
        @* <PropertyColumn Property="movie => movie.Title" /> *@
        <PropertyColumn Property="movie => movie.Title" Sortable="true"/>
        @* <PropertyColumn Property="movie => movie.ReleaseDate" /> *@
        <PropertyColumn Property="movie => movie.ReleaseDate" Title="Release Date"/>
        <PropertyColumn Property="movie => movie.Genre" />
        <PropertyColumn Property="movie => movie.Price" />
        <PropertyColumn Property="movie => movie.Rating" />

        <TemplateColumn Context="movie">
            <a href="@($"movies/edit?id={movie.ID}")">Edit</a> |
            <a href="@($"movies/details?id={movie.ID}")">Details</a> |
            <a href="@($"movies/delete?id={movie.ID}")">Delete</a>
        </TemplateColumn>
    </QuickGrid>
</div>
<Paginator State="pagination" />

@code {
    @* [SupplyParameterFromQuery]
    private string? TitleFilter{get;set;}
    private IQueryable<Movie> FilteredMovies =>
        context.Movie.Where(m => m.Title!.Contains(TitleFilter ?? string.Empty)); *@

    private string titleFilter = string.Empty;
    private IQueryable<Movie> FilteredMovies =>
        context.Movie.Where(m => m.Title!.Contains(titleFilter));

    private BlazorWebAppMoviesContext context = default!;

    private PaginationState pagination = new PaginationState{ItemsPerPage=5};

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
